{% extends '/Admin/base.html' %} {% block main %} <main id="main" class="main">
  <div class="pagetitle">
    <h1>Consumable Items</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{'Home'}}">Home</a>
        </li>
        <li class="breadcrumb-item active">Consumable Items</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Consumable Items</h5>
            <!-- Table with hoverable rows -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">location</th>
                  <th colspan="2" scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody> {% for item in data %} <tr>
                  <td>{{ loop.index}}</td>
                  <td>{{ item.item_name }}</td>
                  <td>{{ item.item_quantity }}</td>
                  <td>{{ item.item_location }}</td>
                  <td><a href="/update/{{ item.item_id }}" class="btn btn-warning btn-xs">Edit</a></td>
                  <td><a href="/delete/{{ item.item_id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a></td>
                </tr> {% endfor %}
              </tbody>
            </table>
            <!-- End Table with hoverable rows -->
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main --> {% endblock %}
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright"> &copy; Copyright <strong>
      <span>UIMS</span>
    </strong>. All Rights Reserved </div>
</footer>
<!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/static/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/static/assets/js/main.js"></script>
</body>
</html>